<footer class="footer">
  <div class="mainFooter container-fluid">
    <div class="d-flex justify-content-between">
      <div class="footer-col">
        <h4>Location</h4>
        <ul>
          <li style="font-size: 20px; margin-left: 0px">
            SSS Shopping PVT LTD
          </li>
          <li style="font-size: 14px; margin-left: 0px">No.1 Shopping Site</li>
          <li style="font-size: 14px; margin-left: 0px">Taramani,Chennai</li>
          <li style="font-size: 14px; margin-left: 0px">TN, IND</li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Catogories</h4>
        <ul>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Home Appliances</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Trending</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
