.card {
  background-color: rgb(239, 254, 239);
  height: 300px;
  width: 330px;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 10px;
  background-color: rgb(239, 254, 239);
  height: 300px;
  width: 330px;
  transition-duration: 0.5s;
}
h5:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 10px;
}
