<div class="container mt-3">
  <!-- Project Name -->
  <div style="width: 100vw; height: 20vh" class="container d-flex">
    <div class="container d-flex">
      <h3 class="m-1 p-2">Project Name:</h3>
      <h3 class="m-1 fs-1 text-success">SSS-Shopping</h3>
    </div>
    <div>
      <p>Created by</p>
      <h5 class="mb-0">Saravanan</h5>
    </div>
  </div>

  <div
    class="my-2"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- About the Project -->
  <div class="my-5">
    <h3>About the Project:</h3>
    <p class="container">
      Develop a e-commerce website for Buying products. The website aims to
      provide a user-friendly and secure platform for customers to browse,
      select, and purchase items, while also offering an efficient backend
      system for managing products, orders, and customer data.
    </p>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- Technology Used -->
  <div class="container">
    <div>
      <h4>Technolgy Used:</h4>
      <!-- Angular -->
      <div class="container">
        <ul>
          <li class="text-danger fs-5">Angular Framework - Version 18.8.0</li>
          <ul>
            <li>HTML - Version 5</li>
            <li>CSS - Version 3</li>
            <li>TypeScript - Version 5.2.2</li>
          </ul>
        </ul>
        <!-- Storage System -->
        <ul>
          <li class="text-danger fs-5">Storage</li>
          <ul>
            <li>Local Storage</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- Hosting Details -->
  <div class="container">
    <h4>Hosting Details</h4>
    <div class="container">
      <ul>
        <li class="text-success">GitHub Pages</li>
        <ul>
          <li class="fs-5">Link :</li>
          <a href="https://saravanan-sarav.github.io/SSS-shopping-Angular/"
            >https://saravanan-sarav.github.io/SSS-shopping-Angular/</a
          >
        </ul>
      </ul>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- Supported Device -->
  <div class="container">
    <h4>Supported Devices:</h4>
    <div class="container">
      <ul>
        <li>
          Desktop or large screen Devices for seemless Working and performance.
        </li>
        <li>Preferable to use in Desktop.</li>
      </ul>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- Page details -->

  <div class="container">
    <h4>Web Pages Details:</h4>
    <div class="row justify-content-evenly">
      <!-- registration Page -->
      <div class="card m-2 col-3 border border-success rounded p-3">
        <h5
          style="background-color: #008000; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Registration page:
        </h5>
        <div class="mt-3">
          <ul>
            <li>Customer can Create and Account in the Patform.</li>

            <li>Requirements :</li>
            <ul>
              <li style="list-style: disc">
                Name, Email, phoneNumber, Agree terms and Conditions.
              </li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- Login Form -->
      <div class="card m-2 col-3 border border-success rounded p-3">
        <h5
          style="background-color: green; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Login Page:
        </h5>
        <ul class="mt-4">
          <li>User can Login Using their credentials</li>

          <li>requirements :</li>
          <ul>
            <li style="list-style: disc">
              registered Email, registered Password.
            </li>
          </ul>
        </ul>
      </div>
      <!-- Home Page -->
      <div class="card m-2 col-3 border border-success rounded p-3">
        <h5
          style="background-color: green; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Home Page:
        </h5>
        <ul style="font-size: 14px" class="mt-4">
          <li>Products are Shows in Card form.</li>
          <li>Users Can Add their Favourite Products in their cart.</li>
          <li>
            Count of the products increase based on the user click the add to
            cart button.
          </li>

          <li>Product Card Contents:</li>
          <ul>
            <li style="list-style: disc">
              Product Image, Product Name,Price, Add to Cart Button.
            </li>
          </ul>
        </ul>
      </div>
      <!-- Cart Page -->
      <div class="card m-2 col-3 border border-success rounded p-3">
        <h5
          style="background-color: green; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Cart Page:
        </h5>
        <ul class="mt-4">
          <li>User can see the product details in the cart.</li>
          <li>User can Place the Orders, which the products in the cart.</li>
        </ul>
      </div>
      <!-- Order Page -->
      <div class="card m-2 col-3 border border-success rounded p-3">
        <h5
          style="background-color: green; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Order Page:
        </h5>
        <ul class="mt-4">
          <li>User can see their Orders.</li>
          <li>
            Tracking details are avaliable for users and track the package.
          </li>
        </ul>
      </div>
      <!-- Navigation Page -->
      <div class="card m-2 col-3 border border-success rounded p-3">
        <h5
          style="background-color: green; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Navigation Bar:
        </h5>
        <ul class="mt-4">
          <li>Contain Logo, cart, Orders, Log Out.</li>
          <li>
            User can See their Products in Cart and their Ordered Products
          </li>
        </ul>
      </div>
      <!-- Footer Page -->
      <div class="card m-2 col-3 border border-success rounded p-3">
        <h5
          style="background-color: green; color: aliceblue"
          class="p-2 rounded ps-3 my-2"
        >
          Footer Section:
        </h5>
        <ul class="mt-4">
          <li>Full Details about SSS shopping and place any queries.</li>
          <li>Still this is static Will Update in future.</li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- Login Credentials -->
  <div class="container">
    <h4>Login Credentials</h4>
    <div class="container">
      <ul>
        <li class="fs-4 text-danger">Create User Account and get Access.</li>
      </ul>
    </div>
  </div>
  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>
  <!-- Validations -->
  <div class="container">
    <h4>Validations:</h4>
    <div class="container">
      <ul>
        <li>User Validations.</li>
        <li>Login User only see the conents.</li>
        <li>Showing cart or orders of the particular user only.</li>
        <li>Everything work if the user is logged in.</li>
      </ul>
    </div>
  </div>
  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>
  <!-- Future Works -->
  <div class="container">
    <h4>Future Works :</h4>
    <div class="container">
      <ul>
        <li>Selling of Products will implements in Next Version.</li>
        <li>Payment Gateway.</li>
        <li>Pmplements More User friendly UI for better Understanding.</li>
      </ul>
    </div>
  </div>

  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- Thanl You Greetings -->
  <div>
    <h1 class="text-danger text-center">Thank You for your Support..!!!</h1>
    <p class="text-primary text-center">
      Now, You are ready to explore the Shopping World..!!!
    </p>
  </div>
  <div
    class="my-5"
    style="height: 2px; width: 90vw; background-color: green"
  ></div>

  <!-- Accept User Details -->
  <div class="container mb-5">
    <div class="ms-2 mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        checked
      />
      <label class="form-check-label" for="exampleCheck1"
        >I read all the instructions and I am ready to Explore.</label
      ><br />
    </div>
    <button class="my-2 btn btn-success" (click)="getStarted()">
      Get Started
    </button>
  </div>
</div>
