.productList {
  display: flex;
  margin-left: 20%;
  margin-top: 10px;
  width: 160px;
  height: 150px;
  border-radius: 10px;
}
.card {
  width: 23%;
  height: 23%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card:hover {
  width: 23%;
  height: 23%;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 10px;
  transition-duration: 0.5s;
}
.features {
  font-size: 10px;
  margin-left: 2px;
}
.featureDetails {
  padding: 2px;
  margin-left: 5px;
  width: 100%;
}
#addToCart {
  margin-left: 20%;
}
