<div class="container min-vh-100">
  <!-- full display -->
  <div class="row d-flex align-items-center justify-content-center">
    <!-- image div -->
    <div class="col-6 d-flex flex-column">
      <div class="signUpLeftSide">
        <div class="left-side">
          <h3 class="fs-1 text-success-emphasis">Welcome</h3>
          <h3 class="fs-1 text-success-emphasis">To</h3>
          <h3 class="fs-1 text-success">SSS Shopping...!!!</h3>
        </div>

        <p
          style="
            margin-top: 20px;
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 15px;
          "
          class="bg-success-subtle rounded"
        >
          Explore <b>SSS SHOPPING..!!!</b> - Your Gateway to Easy Shopping.
          Browse, Pick, Enjoy. Speedy, Trusted, Effortless.
        </p>
      </div>
    </div>
    <!-- Sign Up Inputs -->
    <div
      class="col-6 right-side d-flex flex-column justify-content-center align-items-center min-vh-100"
    >
      <!-- Name Div -->
      <form
        [formGroup]="regForm"
        (ngSubmit)="onSubmit()"
        class="bg-success-subtle d-flex flex-column align-items-center p-4 rounded inputBox"
      >
        <p class="fs-3">Welcome..!!!</p>
        <select
          class="form-select mb-3"
          id="regUserSeletor"
          formControlName="userType"
        >
          <option [selected]="true">Select User Destination</option>
          <option value="admin">Create Seller Account</option>
          <option value="user">Create Buyer Account</option>
        </select>
        <div class="d-flex justify-content-center signUpInput1">
          <input
            class="me-2 rounded form-control"
            type="text"
            id="fname"
            placeholder="First Name"
            formControlName="firstName"
            [ngClass]="
              firstName?.dirty && firstName?.invalid ? 'is-invalid' : ''
            "
          />

          <!-- <div>enter valid Name</div> -->
          <!-- <p>{{ firstName?.dirty | json }}</p> -->
          <input
            class="rounded form-control"
            type="text"
            id="lname"
            placeholder="Last Name"
            formControlName="lastName"
            [ngClass]="lastName?.dirty && lastName?.invalid ? 'is-invalid' : ''"
          />
        </div>
        <!-- rest inputs -->
        <div class="d-flex flex-column signUpInput">
          <input
            class="my-2 rounded form-control"
            type="email"
            id="email"
            placeholder="Email Address"
            formControlName="email"
            [ngClass]="email?.dirty && email?.invalid ? 'is-invalid' : ''"
          />
          <div class="d-flex">
            <input
              class="my-2 rounded form-control me-3"
              style="width: 30%"
              type="text"
              id="numberCountryCode"
              placeholder="+91"
              disabled
            /><input
              class="my-2 rounded form-control"
              st
              type="string"
              id="phoneNumber"
              placeholder="Phone Number"
              formControlName="phoneNumber"
              [ngClass]="
                phoneNumber?.dirty && phoneNumber?.invalid ? 'is-invalid' : ''
              "
            />
            <!-- {{ phoneNumber?.errors | json }} -->
            <div *ngIf="phoneNumber?.errors?.['minlength']">
              <p>enter the Correct Phone Number</p>
            </div>
          </div>
          <input
            class="my-2 rounded form-control"
            type="password"
            id="password"
            placeholder="Password"
            formControlName="password"
            [ngClass]="password?.dirty && password?.invalid ? 'is-invalid' : ''"
          />
          <input
            class="my-2 rounded form-control"
            type="password"
            id="conPass"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [ngClass]="
              confirmPassword?.dirty && confirmPassword?.invalid
                ? 'is-invalid'
                : ''
            "
          />
          <div
            *ngIf="confirmPassword?.value !== password?.value"
            class="text-danger ms-2"
            style="height: 12px"
          >
            <p>{{ errors }}</p>
          </div>
          <div class="d-flex mt-3">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="termAndCondition"
            />

            <p
              class="ms-2 justify-content-center"
              style="margin-top: 5px; font-size: 10px"
            >
              I accept the <a href="">Terms and Policies.</a>
            </p>
          </div>
          <p class="errorRef text-danger text-bold" id="signUpError"></p>
          <button
            id="signUpButton"
            class="btn btn-success d-flex text-center"
            style="width: 20%; margin-left: 40%; padding-left: 3%"
            type="submit"
            (click)="registerUser()"
          >
            Sign Up
          </button>
          <!-- Toast Message -->
          <!-- <div
            id="toast"
            class="toast position-fixed text-bg-success border-0"
            style="top: 60px; right: 20px"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="d-flex">
              <div class="toast-body" id="toastMessage"></div>
              <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
              ></button>
            </div>
          </div> -->
        </div>
      </form>
    </div>
  </div>
</div>
