<div class="container min-vh-100">
  <div class="container mt-5">
    <p class="fs-3 mt-1">Your Orders</p>
  </div>
  <div *ngFor="let user of Loader">
    <div
      *ngFor="let order of user.cart"
      class="container border d-flex orderCard rounded mb-3"
    >
      <!-- S.no and Image Section -->
      <div class="d-flex m-4">
        <p class="fs-4 me-4" style="margin-top: 50%">2</p>
        <div class="bg-success" style="width: 2px"></div>
        <img
          [src]="order.image"
          style="
            height: 120px;
            width: 100px;
            margin-left: 30px;
            margin-top: 30%;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 10px;
          "
          alt="product img"
        />
      </div>
      <!-- Quantity and Price -->
      <div class="col-6 m-3 bg-success-subtle rounded p-2" style="height: 90%">
        <div class="d-flex align-items-center justify-content-between mt-0">
          <p class="fs-5 mb-0">{{ order.title }}</p>
          <div
            class="d-inline bg-success mt-3 rounded ps-2 pt-1 pb-1 mb-3 me-0 orderedDate"
            style="color: aliceblue"
          >
            <p class="me-1 mb-0">Ordered date:</p>
            <p class="me-1 fs-6 mb-0">10/01/2023</p>
          </div>
        </div>
        <!-- Delivery Address -->
        <div class="bg-success rounded p-1 deliveryAddress">
          <p class="mb-0" style="font-size: 12px">Delivery Address:</p>
          <p class="mb-0" style="font-size: 14px">{{ user.user.firstName }},</p>
          <p class="mb-0" style="font-size: 14px">
            {{ user.user.email }}
          </p>
          <p class="mb-0" style="font-size: 14px">
            {{ user.user.phoneNumber }}
          </p>
        </div>
        <!-- Tracking Details -->
        <div class="d-flex">
          <div
            class="align-items-center bg-success mt-3 rounded ps-3 pt-1 pb-2 mb-0 me-3 ms-0 productTracking"
          >
            <p class="me-3 mb-0" style="font-size: 12px">
              Product Tracking Details:
            </p>
            <p class="fs-6 mb-0">shipped</p>
          </div>
          <!-- Delivery  -->
          <div
            class="bg-success mt-3 rounded ps-3 pt-1 pb-2 mb-0 me-0 estimateDelivery"
          >
            <p class="me-3 mb-0" style="font-size: 12px">Estimate Delivery :</p>
            <p class="fs-6 mb-0">tomorrow</p>
          </div>
        </div>
      </div>

      <div class="col-3 bg-body-secondary rounded p-3 m-3 stockQuantity">
        <p class="fs-5">Quantity : {{ order.count }}</p>
        <div class="bg-success totalPrice"></div>
        <p class="fs-6 mt-3 mb-0">Total Price</p>
        <p class="fs-3 mb-0 text-danger">₹ {{ order.price! * order.count! }}</p>

        <!-- <a class="btn btn-outline-danger DeleteButton"   href=""
              >Delete</a
            > -->
      </div>
      <p></p>
    </div>
  </div>
</div>
